<div class="container">

    <div class="topContainer">
        <h1>Eat Da Burger </h1>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label for="newburger">order here</label>
                    <input type="text" id="newburger" name="burger">
                    <button type="submit" class="btn btn-success" id="addburger">submit
                    </button>
                </div>
            </form>
        </panel>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="leftContainer">
              
                <h3>Ordered Burger</h3>
                

                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}

                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}">add to Devoured</button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>

                
            </div>
        </div>
        <div class="col-sm-6">
            <div class="rightContainer">
        

                <h3>Burgers Devoured</h3>
                
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="trashburger btn btn-danger" id="trashbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}">Delete</button>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>



            </div>
        </div>

    </div>
    <!--endrow -->
</div>
<!--endcontainer -->